/* body{
    color:red;
}
h1 {
    color:blue;
 */

 /* here h1, body, #lib (id), .para (class) are all selectors  */

/* #lib-heading { 
    color:blueviolet;
}
.para {
    color:green;
} */


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

